* {
  margin: 0;
  padding: 0; }

/* paleta de colores */
/*Mapa color cada tipo de pokemon*/
/*Bucle para usar los valores del mapa Tipo de Pokemones*/
.background--fuego {
  background-color: red; }

.background--agua {
  background-color: blue; }

.background--planta {
  background-color: green; }

.background--electrico {
  background-color: yellow; }

body {
  min-height: 100%;
  min-width: 100%; }

/* Agrandar objeto */
.zoom {
  transition: transform .4s; }
  .zoom:hover {
    transform: scale(1.2); }

/* Color de fondo en gradiente */
.background {
  background: linear-gradient(0deg, #accbee 0%, #e7f0fd 100%);
  min-height: 100vh; }

.img-borders, .card-border, .card-borders {
  border-radius: 1.25rem; }

/* Bordes sombreados */
.card-border {
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25); }

.card-borders {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.AmarilloPokemon {
  color: #F2BF00; }

.border-blue {
  text-shadow: -2px -2px 1px #3C5494, 2px 2px 1px #3C5494, -2px 2px 1px #3C5494, 2px -2px 1px #3C5494; }

.background-white {
  background-color: white; }

.size-s {
  height: 3rem;
  width: auto; }
  @media (min-width: 576px) {
    .size-s {
      height: 5rem; } }
  @media (min-width: 992px) {
    .size-s {
      height: 6rem; } }

.size-xs {
  height: 1.5rem;
  width: auto; }

a {
  text-decoration: none;
  color: #3878a7; }

.btn-background-poke {
  color: #fff;
  background-color: #3878a7;
  border-color: #3878a7; }
  .btn-background-poke:hover {
    color: #F2BF00; }

.color-hover {
  color: #3878a7; }
  .color-hover:hover {
    color: #303030; }

* {
  font-family: 'Roboto', arial, sans-serif; }
