body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}
 /* Agrandar objeto */
.zoom {
    transition: transform .4s;
    &:hover{
        transform: scale(1.2);
    }
}
 /* Color de fondo en gradiente */
.background {
    background: linear-gradient(0deg, #accbee 0%, #e7f0fd 100%);
    min-height: 100vh;
}
/* Bordes sombreados */
.card-borders{
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
}
.img-borders{
    border-radius: 1.25rem;
}

.center {
    text-align: center;
}

.bold{
    font-weight: bold;
}
.AmarilloPokemon {
    color: $color-amarillo-poke ;
}

.border-blue{
    text-shadow: -2px -2px 1px #3C5494, 2px 2px 1px #3C5494, -2px 2px 1px #3C5494, 2px -2px 1px #3C5494  ;
}

.text-white{
    color: $color-amarillo-poke;
    font-size: 25px;
    font-weight: bold;
} 

.background-white {
    background-color: white;
}

.size-s{
    height: 100px;
    width: auto;
}
.size-xs{
    height: 1.5rem;
    width: auto;
}
a{
    text-decoration: none;
    color: $color-azul-poke;
}

.btn-background-poke{
    color: #fff;
    background-color: $color-azul-poke;
    border-color: $color-azul-poke;
    &:hover{
        color: $color-amarillo-poke;
    }
}
.color-hover{
    color: $color-azul-poke;
    &:hover{
        color: #303030;
    }
}